/*!
 *  App configuration
 *  ------------------------------------------------------------------------------
 *  The customized css for Maxiang app.
 *
 *  Author - Micle Bu
 *  ------------------------------------------------------------------------------
 *  Email: micle@oriovo.com
 *  Web: http://www.oriovo.com
 *	Update: 2015.03.25
 */

/**************************************************************
* Global styles                                       		  *
***************************************************************/
h1,h2,h3,h4,h5 {
	margin: 1.5em 0 0.5em 0;
}

h2 {
	border-bottom: 1px solid #dddddd;
}

h3 { 
	border-bottom: 1px dashed #dddddd;
}

hr {
	margin: 0 0 1em 0;
	border: none;
}

/**************************************************************
* Headings with counter                                       *
***************************************************************/
body {
	counter-reset: counter1;
}

h2 {
	counter-increment: counter1;
	counter-reset: counter2;
}

h2:before {
	content: counter(counter1) ". ";
}


/*h3 {
	counter-increment: counter2;
	counter-reset: counter3
}

h3:before {
	content: counter(counter1) "." counter(counter2) " ";
}

h4 {
	counter-increment: counter3;
	counter-reset: counter4	
}

h4:before {
	content: counter(counter1) "." counter(counter2) "." counter(counter3)  " ";
}*/


/*------------------------------------------------------------*
 *  Table Styles 											  *
 *------------------------------------------------------------*/
table {
	width: 100%;
}

tr {
	background: #ffffff;
}

tr:hover {
	background: #efefef;		
}

th {
	text-align: center;
	background: #eeeeee;
}
table th,table td,table thead:first-child tr:first-child th{
	padding:.3em;
	border:1px solid #ddd;
	line-height: 1.5;
}


/**************************************************************
* Code                                       				  *
***************************************************************/
pre code {
	border-radius: 6px;
}